<div class="fondo-imagen">
<br>
    <div class="center-content">
      <h1>Edit Account</h1>
    </div>
<br>

<div class="formulario-center">
  <form (ngSubmit)="updateProfile(userForm)" #userForm="ngForm" enctype="multipart/form-data">
    <label for="bio">Update bio</label>
    <input type="text" id="bio" [(ngModel)]="bio" name="bio">

    <label for="avatar_url">Upload profile photo</label>
    <input type="file" id="avatar_url" [(ngModel)]="avatar_url" name="avatar_url">
    <!--    <input type="file" id="avatar" name="avatar" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png" /> -->

    <div class="buttons-center">
      <a href="/issues" class="volver">Back</a>
      <button type="submit" class="crear-issue">Save</button>
    </div>
  </form>
</div>

